{deps, [
      {folsom, ".*", {git, "git://github.com/boundary/folsom", {tag, "0.7.4"}}},
      {cowboy, ".*", {git, "git://github.com/extend/cowboy", {tag, "0.8.5"}}},
      {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}}
  ]}.
{erl_opts, [debug_info]}.
{cover_enabled, true}.
